.emotion-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}



.emotion-selector input:active +.animate-emotion{opacity: .9;}
.emotion-selector input:checked +.animate-emotion{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.animate-emotion{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.animate-emotion:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
/* Activity Radios */


.activity-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}



.activity-selector input:active +.animate-activity{opacity: .9;}
.activity-selector input:checked +.animate-activity{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.animate-activity{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.animate-activity:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.floatedTable {
            float:left;
        }
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}

#othersEntry {
    display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;       
    
}

.othersInput {
    width: 300px;
    margin: 5px;
    text-align: center;
}
#othersName{
  font-size: 150%;
}

#othersName::-webkit-input-placeholder {
    color: #dddddd;
    
}


.element::-moz-placeholder {
 color: #dddddd;
    
}

.element:-ms-input-placeholder {
    color: #dddddd;
    
} 

.element:-o-input-placeholder {
    color: #dddddd;
    
} 